<br/>

<center>
  <h1 class="page-header"><%= @artist.name %></h1>
</center>

<br/>

<ul>
  <% @artist.top_tracks('US').each do |track| %>
    <li><%= track.name%> | <%= link_to "Add" %> </li> 
  <% end %>
</ul>