<ul>
  <li><a class="active" href="/users/">Home</a></li>
  <li><a href="https://www.spotify.com/us/account/overview/">My Account</a></li>
  <li><a href="/players/<%=@playerid%>">My Playlists</a></li>
  <li><a href="/artists/new/">search artists</a></li>
  
</ul>

<%= @spotify_user %>