<ul>
  <li><a class="active" href="/users/">Home</a></li>
  <li><a href="https://www.spotify.com/us/account/overview/">My Account</a></li>
  <li><a href="/playlists/">My Playlists</a></li>
  <li><a href="/artists/new/">Search Artists</a></li>
  
</ul>

<%= @spotify_user.inspect %>





