<!-- 
<%= @spotify_user.inspect %> -->

<li><a href="/artists/new/">Search Artists</a></li>

<br/><br/><br/>
<%= @spotify_user.display_name %>
<%= @spotify_user.email %>


<% @playlists.each do |playlist|%>
  <li><%= playlist.name%>
</li>
<% end %>
