<!-- <font size="1">
  <div>For the purpose of testing this app, you may use these log in credenitals:</div>
  <div class="logins">Email: t.testing369@aol.com</div>
  <div class="logins">Password: Testing123</div>
</font> -->

<br/><br/><br/><br/><br/>

<center>

<h1>SpotifyApp</h1>
<p>Search and add artists' top hits into your existing playlists!</p> 

<br/><br/>
<div class= "login"><%= link_to 'Sign in with Spotify', '/auth/spotify' %></div>

</center>
