
.page-header {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.form {
  margin-right: 30px;
  padding: 5px;
}

.float-right {
  border: 2px solid rgb(80, 215, 96);
  border-radius: 4px;
}

button, input, optgroup, select, textarea {
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: white;
}
