@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@import "bootstrap";

.navbar {
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: rgb(80, 215, 96);
}

.navbar-light a.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: rgb(255, 255, 255);
}

body {
  font-family: 'Lato', sans-serif;
  background: rgb(0, 0, 0);
}

.alert a {
  color: #a94442;
}

