<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="https://www.spotify.com/us/account/overview/">My Account</a></li>
  <li><%= link_to 'My Playlists', playlists_path %></li>
  <li><a href="/artists/new/">Search Artists</a></li>
</ul>
<p id="notice"><%= notice %></p>

<h1>Playlists</h1>
<div><%= link_to 'New Playlist', new_playlist_path %></div>


